/* ==========  Desktop First Method  ========== */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.v-h {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

ul,
ol,
li {
  list-style: none;
}

html,
body {
  font-family: "Helvetica";
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #F7F7F7;
}
@media only screen and (max-width: 870px) {
  body {
    background-color: white;
  }
}

.container {
  max-width: 100%;
  max-width: 1222px;
  padding: 0 15px;
  margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header__content {
  padding: 60px 0 30px;
}
@media only screen and (max-width: 870px) {
  .header__content {
    padding: 60px 10px 30px;
  }
}
@media only screen and (max-width: 360px) {
  .header__content {
    padding: 16px 0 16px;
  }
}
.header__content .heading-primary {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  color: #3E3E3E;
}

.side-bar {
  position: relative;
}

.list-wrapper {
  padding-left: 286px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 870px) {
  .list-wrapper {
    padding-left: 0;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.card-list__item {
  width: calc(33.333% - 20px);
  min-width: 254px;
  background-color: white;
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
@media only screen and (max-width: 1144px) {
  .card-list__item {
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 870px) {
  .card-list__item {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 578px) {
  .card-list__item {
    width: 100%;
  }
}
@media only screen and (max-width: 578px) {
  .card-list__item {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
.card-list__item:hover .product {
  z-index: -1;
}
.card-list__item:hover .details {
  z-index: 10;
}
@media only screen and (max-width: 870px) {
  .card-list__item:hover .details {
    z-index: -1;
  }
  .card-list__item:hover .product {
    z-index: 10;
    background-color: #f1f1f1;
  }
}
.card-list .details--active {
  z-index: 20;
}
@media only screen and (max-width: 870px) {
  .card-list .details--active {
    z-index: -1;
  }
}

.product {
  padding: 26px 30px;
  border-top: 6px solid #259609;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  position: relative;
}
.product__image {
  text-align: right;
  margin-bottom: 22px;
  margin-left: auto;
}
.product__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.product__programme {
  font-family: "Helvetica";
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
  margin-bottom: 10px;
}
.product__title {
  font-family: "Helvetica";
  font-size: 20px;
  line-height: 30px;
  color: #3E3E3E;
  margin-bottom: 70px;
}
@media only screen and (max-width: 870px) {
  .product__title {
    margin-bottom: 10px;
  }
}
.product__garduate {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 16px;
  color: #3E3E3E;
  display: none;
}
@media only screen and (max-width: 870px) {
  .product__garduate {
    display: block;
    margin-bottom: 67px;
  }
}
.product__description {
  margin-top: auto;
  margin-bottom: 30px;
}
.product .description__graduate {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3E3E3E;
  margin-bottom: 8px;
}
.product .description__graduate img {
  margin-right: 12px;
}
.product .description__period {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #3E3E3E;
  position: relative;
}
.product .description__period img {
  margin-right: 12px;
}
.product .content__price {
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  color: #3E3E3E;
  font-weight: 700;
  display: none;
}
@media only screen and (max-width: 870px) {
  .product .content__price {
    display: block;
    margin-bottom: 22px;
  }
  .product .product__description {
    display: none;
  }
}

.details {
  background-color: #259609;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.details__title {
  font-family: "Helvetica";
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  width: 172px;
  margin-bottom: 20px;
  padding: 0px;
}

.duration {
  margin-bottom: 20px;
}
.duration__title {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.duration__date {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.dates {
  margin-bottom: 24px;
}
.dates__heading {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
.dates__item {
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.price {
  font-family: "Helvetica";
  font-size: 32px;
  color: #FFFFFF;
}

.button-nav {
  width: 100%;
  max-width: 329px;
  height: 52px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1f1f1;
  padding: 0 20px 0 60px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  transition: all 0.2s ease;
}
.button-nav::before {
  content: url("../../assets/icons/icon_education_green.svg");
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}
.button-nav--active .button__arrow {
  transform: rotate(90deg);
}
.button-nav--active .button__arrow path {
  stroke: #259609;
}

.nav__button-link {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: start;
  padding-right: 20px;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3E3E3E;
}
.nav__button-link--active {
  color: #259609;
}
.nav__button-link--active .button__arrow path {
  stroke: #259609;
}
.nav__button-link--active .button__arrow {
  transform: rotate(90deg);
  transition: all 0.2s ease;
}

.nav__button-progarms {
  width: 100%;
  text-transform: uppercase;
  color: #259609;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  background-color: white;
  border: 1px solid #259609;
  border-radius: 3px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
@media only screen and (max-width: 870px) {
  .nav__button-progarms {
    max-width: 330px;
    display: none;
  }
}
.nav__button-progarms--active {
  display: block;
}

.button-plus {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c1e6b9;
  position: absolute;
  top: 20px;
  right: 20px;
}
.button-plus::after {
  content: "";
  display: block;
  height: 1px;
  width: 60%;
  background-color: #259609;
}
.button-plus::before {
  content: "";
  display: block;
  height: 1px;
  width: 60%;
  background-color: #259609;
  transform: rotate(90deg);
  position: absolute;
}
.button-plus--active {
  background-color: white;
}
.button-plus--active::before {
  transform: rotate(45deg);
}
.button-plus--active::after {
  transform: rotate(-45deg);
}
.button-plus-product {
  display: none;
  position: absolute;
  left: 30px;
  background-color: #259609;
}
.button-plus-product::after {
  background-color: white;
}
.button-plus-product::before {
  background-color: white;
}
@media only screen and (max-width: 870px) {
  .button-plus-product {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product__button {
  width: 100%;
  height: 40px;
  margin-top: auto;
  text-transform: uppercase;
  background-color: #259609;
  border-radius: 3px;
  color: white;
  font-family: "Helvetica";
  font-size: 14px;
  line-height: 16px;
}
.product__button--details {
  background-color: white;
  color: rgba(37, 150, 9, 0.9647058824);
}
.product__button--active {
  background-color: #6fb95c;
  color: white;
}

.button-more {
  font-family: "Helvetica";
  font-size: 14px;
  text-transform: uppercase;
  color: #3E3E3E;
  display: block;
  margin: 0 auto;
}
.button-more img {
  margin-left: 10px;
}

.nav {
  width: 286px;
  min-height: 100%;
  position: absolute;
  background-color: white;
  padding: 30px 15px;
}
@media only screen and (max-width: 870px) {
  .nav {
    width: 100%;
    min-height: 100%;
    position: static;
    padding: 0;
    margin-bottom: 20px;
  }
}
.nav__heading {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #259609;
  position: relative;
  margin-left: 34px;
  margin-bottom: 19px;
}
@media only screen and (max-width: 870px) {
  .nav__heading {
    display: none;
  }
}
.nav__heading::before {
  content: url("../../assets/icons/icon_education_green.svg");
  position: absolute;
  top: 50%;
  left: -34px;
  transform: translateY(-50%);
}
.nav__heading-mobile {
  display: none;
}
@media only screen and (max-width: 870px) {
  .nav__heading-mobile {
    display: block;
  }
}

.nav__list {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 21px 0 21px 13px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 870px) {
  .nav__list {
    display: none;
  }
}
.nav__list--active {
  display: block;
  padding-top: 20px;
  z-index: 20;
  width: 100%;
  max-width: 328px;
  background-color: white;
}
.nav__list .nav__link {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3E3E3E;
  background-color: transparent;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 46px;
  padding: 6px 13px;
  transition: all 0.2s ease;
}
.nav__list .nav__link:hover {
  background-color: #F2F2F2;
}
.nav__list .nav__link[active] {
  color: #259609;
  background-color: rgba(37, 150, 9, 0.15);
}

.link__list {
  max-height: 0;
  overflow: hidden;
}
.link__list--active {
  overflow: visible;
  max-height: min-content;
}

.accordion h3 {
  padding: 11px 0;
}/*# sourceMappingURL=style.css.map */