@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@0,500;0,600;0,800;0,900;1,400;1,500;1,600;1,800;1,900&family=Public+Sans:wght@500;700&family=Work+Sans:wght@600&display=swap');

@font-face {
    font-family: 'Helvetica';
    src: url('../../assets/fonts/helvetica_regular.otf');
}



