*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    cursor: pointer; 
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.v-h{
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}

ul, 
ol,
li{
    list-style: none;
}

html,
body{
    
    font-family:  'Helvetica';
    font-size: 1rem; 
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #F7F7F7;

    @include respond-to(870px){
        background-color: #ffff;
    }
}
.container{
    max-width: 100%;
    max-width: 1222px;
    padding: 0 15px;
    margin: 0 auto;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}