.button-nav{
    width: 100%;
    max-width: 329px;
    height: 52px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1f1f1;
    padding: 0 20px 0 60px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    transition: all .2s ease;

    &::before{
        content: url('../../assets/icons/icon_education_green.svg');
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
    } 
    &--active{
        .button__arrow{
            transform: rotate(90deg);
        }
        .button__arrow path{
            stroke: #259609;  
        }
    }
}

.nav__button-link{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: start;
    padding-right: 20px;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3E3E3E;

    &--active{
        color: #259609;

        .button__arrow path{
            stroke: #259609;  
        }
        .button__arrow{
            transform: rotate(90deg); 
            transition: all .2s ease; 
        }
    }
}

.nav__button-progarms{
    width: 100%;
    text-transform: uppercase;
    color: #259609;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    background-color: #ffff;
    border: 1px solid #259609;
    border-radius: 3px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    @include respond-to(870px){
        max-width: 330px;
        display: none;
    }
    &--active{
        display: block;
    }
}
.button-plus{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c1e6b9;
    position: absolute;
    top: 20px;
    right: 20px;

    &::after{
        content: '';
        display: block;
        height: 1px;
        width: 60%;
        background-color: #259609;
    
    }
    &::before{
        content: '';
        display: block;
        height: 1px;
        width: 60%;
        background-color: #259609;
        transform: rotate(90deg);
        position: absolute;
    }
    &--active{
        background-color: #ffff;
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }

    &-product{
        display: none;
        position: absolute;
        left: 30px;
        background-color: #259609;

        &::after{
            background-color: #ffff;
        }
        &::before{
            background-color: #ffff; 
        }
        
        @include respond-to(870px){
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.product__button{
    width: 100%;
    height: 40px;
    margin-top: auto;
    text-transform: uppercase;
    background-color: #259609;
    border-radius: 3px;
    color: #ffff;
    font-family: 'Helvetica';
    font-size: 14px;
    line-height: 16px;

    &--details{
        background-color: #ffff;
        color: #259609f6;
    }
    &--active{
        background-color: #6fb95c;
        color: #ffff;
    }
}
.button-more{
    font-family: 'Helvetica';
    font-size: 14px;
    text-transform: uppercase;
    color: #3E3E3E;
    display: block;
    margin: 0 auto;

    img{
        margin-left: 10px;
    }
}
