.nav{
    width: 286px;
    min-height: 100%;
    position: absolute;
    background-color: #ffff;
    padding: 30px 15px;

    @include respond-to(870px){
        width: 100%;
        min-height: 100%;
        position: static;
        padding: 0;
        margin-bottom: 20px;
    }

    &__heading{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #259609;
        position: relative;
        margin-left: 34px;
        margin-bottom: 19px;
    
        @include respond-to(870px){
            display: none;
        }
    }

    &__heading::before{
        content: url('../../assets/icons/icon_education_green.svg');
        position: absolute;
        top: 50%;
        left: -34px;
        transform: translateY(-50%);
    }
    &__heading-mobile{
        display: none;
    
        @include respond-to(870px){
            display: block;
        }
    }
}
.nav__list{
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding: 21px 0 21px 13px;
    margin-bottom: 20px;

    @include respond-to(870px){
        display: none;
    }

    &--active{
        display: block;
        padding-top: 20px;
        z-index: 20;
        width: 100%;
        max-width: 328px;
        background-color: white;
    }

    .nav__link{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #3E3E3E;
        background-color: transparent;
        border-radius: 3px;
        display: inline-flex;
        align-items: center;
        width: 100%;
        height: 46px;
        padding: 6px 13px;
        transition: all .2s ease;
    
        &:hover{
            background-color: #F2F2F2;
        }
        &[active]{
            color: #259609;
            background-color: rgba(37, 150, 9, .15);    
        }
    }
}
.link__list{
    max-height: 0;
    overflow: hidden;

    &--active{
        overflow: visible;
        max-height: min-content;
    }

}


.accordion h3{
    padding: 11px 0;
}

