.header__content{
    padding: 60px 0 30px;

    @include respond-to(870px){
        padding: 60px 10px 30px;
    }
    @include respond-to(360px){
        padding: 16px 0 16px;
    }

    .heading-primary{
        font-family: 'Playfair Display';
        font-weight: 400;
        font-size: 30px;
        line-height: 46px;
        color: #3E3E3E;
    }
}


