.list-wrapper{
    padding-left: 286px;
    padding-bottom: 20px;

    @include respond-to(870px){
        padding-left: 0;
    }
}
.card-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &__item{
        width: calc(33.333% - 20px);
        min-width: 254px;
        background-color: #ffff; 
        display: flex;
        margin-left: 20px;
        margin-bottom: 20px;
        position: relative;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
        cursor: pointer;
    
        @include respond-to(1144px){
            width: calc(50% - 20px);
        }
    
        @include respond-to(870px){
            margin-left: 10px;
            margin-right: 10px;
        }
    
        @include respond-to(578px){
            width: 100%;
        }
    
        @include respond-to(578px){
            width: 100%;
            margin: 0 0 20px 0;
        }
    
    }
    &__item:hover .product{
        z-index: -1;
    }
    &__item:hover .details{
        z-index: 10;
    }
    &__item:hover{
        @include respond-to(870px){
            .details{
                z-index: -1;
            }
            .product{
                z-index: 10;
                background-color: #f1f1f1;
            }
        }
    } 
    .details--active{
        z-index: 20;
    }
    @include respond-to(870px){
        .details--active{
            z-index: -1;
        }
    }
    
}


.product{
    padding: 26px 30px;
    border-top: 6px solid #259609;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
    position: relative;

    &__image{
        text-align: right;
        margin-bottom: 22px;
        margin-left: auto;
    }
    &__content{
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }
    &__programme{
        font-family: 'Helvetica';
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #259609;
        margin-bottom: 10px;
    }
    &__title{
        font-family: 'Helvetica';
        font-size: 20px;
        line-height: 30px;
        color: #3E3E3E; 
        margin-bottom: 70px;
        @include respond-to(870px){
            margin-bottom: 10px;
        } 
    }
    &__garduate{
        font-family: 'Helvetica';
        font-size: 14px;
        line-height: 16px;
        color: #3E3E3E;
        display: none;

        @include respond-to(870px){
            display: block;
            margin-bottom: 67px;
        } 
    }
    &__description{
        margin-top: auto;
        margin-bottom: 30px;
    }
    
    .description__graduate{
        font-family: 'Helvetica';
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #3E3E3E;
        margin-bottom: 8px;
    }
    .description__graduate img{
        margin-right: 12px;
    }
    .description__period{
        font-family: 'Helvetica';
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #3E3E3E;
        position: relative;

        img{
            margin-right: 12px;
        }
    }
    .content__price{
        font-family: 'Helvetica';
        font-size: 16px;
        line-height: 22px;
        align-items: center;
        color: #3E3E3E;
        font-weight: 700;
        display: none;
    }   
    @include respond-to(870px){
        .content__price{
            display: block;
            margin-bottom: 22px;
        }
        .product__description{
            display: none;
        }
    } 
}

.details{
    background-color: #259609;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &__title{
        font-family: 'Helvetica';
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        width: 172px;
        margin-bottom: 20px;
        padding: 0px;
    }
    
}

.duration{
    margin-bottom: 20px;

    &__title{
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    &__date{
        font-family: 'Helvetica';
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
}

.dates{
    margin-bottom: 24px;

    &__heading{
        font-family: 'Helvetica';
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
    &__item{
        font-family: 'Helvetica';
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
    }
}

.price{
    font-family: 'Helvetica';
    font-size: 32px;
    color: #FFFFFF;
}

